doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" ,content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="shortcut icon" href="/images/icon.png" type="image/png")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" crossorigin="true")
        block fontAndCSS
            link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
        block optionalCSS
            link(rel="stylesheet" href="/css/style.css")
        title #{title}
        block optionalJS
            script(src='/js/dropdown.js' defer='')
            script(src='/js/resize.js' defer='')
        script(src="https://unpkg.com/axios/dist/axios.min.js" crossorigin="true" defer='')
        link(rel="stylesheet" href="/css/loader.css")
    body(onload='hideLoader()')
        .lds-dual-ring
        block header
            include nav
        block content
            p content will come here
        include footer
        script(src='/js/loader.js' defer='')