link(href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet')
link(rel='stylesheet' href='/css/footer.css')
.part-seven
    ul.footer-1.list1
        li.ft About Us
        li.ft iOS App
        li.ft Android App
    ul.footer-2.list1
        li.ft
            i.fab.fa-facebook-square
        li.ft
            i.fab.fa-twitter-square
        li.ft
            i.fab.fa-instagram
        li.ft
            i.fab.fa-snapchat-square
p.copy Copyright © 2020 EVERYONE. All rights reserved.