extends base.pug
block fontAndCSS
    link(rel='stylesheet' href='/css/reset.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat&display=swap' rel='stylesheet')
block content
    .main
        p.header-reset RECOVER PASSWORD
        form(action='')
            input.input-reset(type='email' placeholder='Your registered e-mail ID goes here' required='' )
            p.warning Invalid email ID
            button.submit-btn(type='submit') Reset Password
        a.link(href='/login')
            span
                i.fas.fa-arrow-left
            | Cancel and go back to Sign In/Sign Up page
        script(src='/js/reset.js')