extends base.pug
block fontAndCSS
    link(rel='stylesheet' href='/css/reset.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat&display=swap' rel='stylesheet')
block content
    .main
        pp(style="font-family:'Montserrat', sans-serif; text-align: center;") Reset Link has been sent successfully to your email ID !
        a.link(href='/')
            span
                i.fas.fa-arrow-left
            | Go to Home Page