extends base.pug
block fontAndCSS
    link(href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/css/resetUpdate.css')
block content
    .main
        .headingUpdate Update Password
        hr(style='width: 90%;border: 1px solid black;margin-bottom: 5vh;')
        form(action='')
            .password
                .pw
                    p.text New Password
                    input.input#p1(type='password' placeholder='Enter new password' minlength='8' required='')
            .password
                .pw
                    p.text Confirm New Password
                    input.input#p2(type='password' placeholder='Confirm your new password' minlength='8' required='')
            p.warning Your password and confirmation password do not match
            button.submitUpdate(type='submit')
                | Update my password
    script(src='/js/updatePassword.js' defer='')