body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.main {
    height: 80%;
    width: 50%;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 20px 0px lightslategrey;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

p {
    padding-top: 5rem;
    font-weight: 100;
    font-size: 20px;
    font-family: sans-serif;
}

.heading {
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.submit {
    padding: 1rem;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 5rem;
    width: 40%;
    text-align: center;
    border-radius: 4px;
}


@media(max-width:1200px) {
    .main {
        width: 600px;
    }
}

@media(max-width:720px) {
    .main {
        width: 23rem;
    }

    .heading {
        margin-left: 1.5rem;
    }

    p {
        margin: 2rem;
    }

    .submit {
        width: 210px;
    }
}